.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 3px solid #4b90c1; /* Черная сплошная граница толщиной 1px вокруг карточки */
    width: 30%; /* Ширина карточки, чтобы поместилось три в ряд */
    margin: 10px; /* Отступ между карточками */
}
